.name {
    font-family: "Bebas Neue";
    font-size: 50pt;
    color: white;
}
.martinMono {
    font-family: "Martian Mono", system-ui;
    font-optical-sizing: auto;
    /*font-weight: weight;*/
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      color: white;
}
body {
    background-color: rgba(7,9,27,1);
    background-image: radial-gradient(circle at top center, rgb(33, 41, 76) 0%, rgba(7,9,27,1) 90%);
    background-position-y: 20%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100% 270%;    
}/*
body {
    background: rgba(7,9,27,1);
}
.radialGradient {
    background: red;
}*/